.ed1page,
.ed2page {
    padding-left: 0.5ex;
    background-color: var(--link2);
}

.ed1page.page1,
.ed2page.page1 {
    /* no index for first page */
    padding-left: 0;
    background-color: transparent;
}

.ed1page:hover,
.ed2page:hover {
    background-color: var(--bg2);
}

section.opus {
    padding: 1rem;
}

.biblio .presentation {
    padding: 1rem;
    text-indent: 0;
}

header.doc {
    position: sticky;
    top: 60px;
}

header.opus .urn {
    margin-top: 1rem;
    text-align: right;
}

header.doc div.urn {
    margin: 1rem 0 0.5rem 0;
}

div.viewer-footer {
    position: static;
}

div.viewer-toolbar {
    position: absolute;
    left: 1rem;
    text-align: left;
    top: 0.5rem;
}

.viewer-fullscreen {
    z-index: 100;
}

body.viewer-open #tabs {
    z-index: 0;
}

.viewer-title {}