:root {
    --bg: #fff;
    --text: #333;
    --bghi: #e09143;
    --texthi: #fff;
    --bglo: rgb(236, 214, 190);
    --bgloa: rgba(236, 214, 190, 0.85);
    --bgmark: var(--bgloa);
    --textlo: #666;
    --textinv: #000;
    --link: #e09143;
    --link2: rgba(224, 145, 67, 0.5);
    --link3: #9c652e;
    --bg2: rgb(102, 102, 102);
    --bg2a: rgba(102, 102, 102, 0.8);
    /*
    --bg2: rgba(71, 50, 29, 0.8);
    --bg2a: rgba(71, 50, 29, 0.8);
    */
    --text2: rgb(236, 214, 190);
    --text2hi: #fff;
    --text2inv: #fff;
    --bg3: #f0f0f0;
    --text3: #666;
}

.ed1page,
.ed2page {
    padding-left: 0.5ex;
    background-color: var(--link2);
}

.ed1page.page1,
.ed2page.page1 {
    /* no index for first page */
    padding-left: 0;
    background-color: transparent;
}

.ed1page:hover,
.ed2page:hover {
    background-color: var(--bg2);
}

section.opus {
    padding: 1rem;
}

.biblio .presentation {
    padding: 1rem;
    text-indent: 0;
}

header.doc {
    position: sticky;
    top: 60px;
}

header.opus .urn {
    margin-top: 1rem;
    text-align: right;
}

header.doc div.urn {
    margin: 1rem 0 0.5rem 0;
}

div.viewer-footer {
    position: static;
}

div.viewer-toolbar {
    position: absolute;
    left: 1rem;
    text-align: left;
    top: 0.5rem;
}

.viewer-fullscreen {
    z-index: 100;
}

body.viewer-open #tabs {
    z-index: 0;
}

.viewer-title {}

div.banner a {
    color: inherit;
    text-decoration: none;
}

div.banner .moto,
div.banner .titles {
    background-color: var(--bgloa);
    box-shadow: 0px 0px 0.2vw var(--bglo);
}

div.banner {
    color: var(--bg2);
}

section.editio h1,
section.opus h1,
section.verbatim h1 {
    text-align: left;
}

span.lb.rule {
    display: block;
    padding: 0;
    margin: 0;
}

span.lb.rule::before {
    padding: 0;
    margin: 0;
}

span.lb.rule::after {
    padding: 0;
    margin: 0;
    width: calc(100% - 2.1rem);
    content: "———————————";
    color: var(--link);
    font-size: inherit;
    text-align: center;
    display: inline-block;
    position: relative;
}

/** Epidoc <list type="table"> */

tr {
    position: relative;
}

td span.pb,
th span.pb {
    position: absolute;
    right: -5rem;
    width: 100%;
}

table.list th,
table.list td {
    padding-right: 1rem;
    text-align: left;
}

table.list td.lb {
    height: 1.2rem;
    text-indent: 0;
    padding: 0;
    font-weight: normal;
    width: 2rem;
    color: var(--textlo);
}

td.lb::before {
    padding-left: 1ex;
    margin-right: 2px;
    font-size: 0.7rem;
    content: attr(data-line);
}

h1 a.external {
    font-size: 80%;
    font-weight: 100;
}

/** biblio */

header.editio {
    padding: 0.5rem 0;
}

header.editio .opus_tituli {
    margin-left: 2em;
}

/*
.editio.verbatim a {
    display: block;
    text-decoration: none;
    padding: 0.1rem 1rem;
    color: inherit;
    font-weight: normal;
}
*/

ul.editio {
    margin-top: 1rem;
    margin-left: 1rem;
}

li.editio.verbatim a:hover {
    background-color: var(--bghi);
    color: var(--texthi);
}

li.editio a:hover * {
    color: inherit;
}

.biblio p {
    text-indent: 0;
    text-align: justify;
}

#biblio {
    background-color: var(--bg);
}

#biblio>* {
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}

section.editio,
section.opus,
section.verbatim {
    margin: 0;
}

section.opus:target {
    background-color: var(--bg3);
}

section.editio h1,
section.opus h1,
section.verbatim h1 {
    margin: 0;
    color: var(--bg2);
}

section.verbatim h1 {
    text-align: center;
    padding: 0.5rem 0 0 0;
}

h1 div.urn {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: inherit;
    text-align: left;
}

section.editio h4,
section.opus h4,
section.verbatim h4 {
    margin: 0;
}

a.title {
    font-style: italic;
}

section.opus p {
    margin: 0;
    text-indent: 0;
}

section.opus>.note {
    margin: 0.5rem 0 0 0;
}

section.opus .edition {
    margin: 0.5rem 0 0 2rem;
}

section.opus div.titlesh section.opus div.title {
    font-style: italic;
}

.AbbrEnCGT::before {
    content: '(CGT) ';
}

.surname {
    /* font-variant: small-caps; */
}

.editors .surname {
    color: var(--text);
    font-weight: bold;
}

a.opus {
    display: inline;
    padding: 0;
    color: var(--link);
}

#opera {
    position: relative;
    display: flex;
    padding: 0;
    margin-top: 3vw;
}

#opera #navs {
    order: -1;
    flex-shrink: 0;
    width: 25vw;
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    bottom: 0;
    overflow-y: scroll;
    background-color: var(--bg3);
    color: var(--bg2);
    padding: 0 0 10vh 0;
}

#navs select {
    font-family: inherit;
    font-size: inherit;
    top: 0;
    width: 100%;
    position: sticky;
    margin-bottom: 2rem;
}

/* Teinte  */
aside.toc {
    display: none;
}