:root {
    --bg: #fff;
    --text: #333;
    --bghi: #e09143;
    --texthi: #fff;
    --bglo: rgb(236, 214, 190);
    --bgloa: rgba(236, 214, 190, 0.85);
    --textlo: #666;
    --textinv: #000;
    --link: #e09143;
    --link2: rgba(224, 145, 67, 0.5);
    --link3: #9c652e;
    --bg2: rgb(102, 102, 102);
    --bg2a: rgba(102, 102, 102, 0.8);
    /*
    --bg2: rgba(71, 50, 29, 0.8);
    --bg2a: rgba(71, 50, 29, 0.8);
    */
    --text2: rgb(236, 214, 190);
    --text2hi: #fff;
    --text2inv: #fff;
    --bg3: #f0f0f0;
    --text3: #666;
}

.ed1page,
.ed2page {
    padding-left: 0.5ex;
    background-color: var(--link2);
}

.ed1page.page1,
.ed2page.page1 {
    /* no index for first page */
    padding-left: 0;
    background-color: transparent;
}

.ed1page:hover,
.ed2page:hover {
    background-color: var(--bg2);
}

section.opus {
    padding: 1rem;
}

.biblio .presentation {
    padding: 1rem;
    text-indent: 0;
}

header.doc {
    position: sticky;
    top: 60px;
}

header.opus .urn {
    margin-top: 1rem;
    text-align: right;
}

header.doc div.urn {
    margin: 1rem 0 0.5rem 0;
}

div.viewer-footer {
    position: static;
}

div.viewer-toolbar {
    position: absolute;
    left: 1rem;
    text-align: left;
    top: 0.5rem;
}

.viewer-fullscreen {
    z-index: 100;
}

body.viewer-open #tabs {
    z-index: 0;
}

.viewer-title {}

div.banner a {
    color: inherit;
    text-decoration: none;
}

div.banner .moto,
div.banner .titles {
    background-color: var(--bgloa);
    box-shadow: 0px 0px 0.2vw var(--bglo);
}

div.banner {
    color: var(--bg2);
}

section.editio h1,
section.opus h1,
section.verbatim h1 {
    text-align: left;
}